/***
Responsive Utils
***/
@media (min-width: 992px) {
  .wd-992 {
    height:80vh; } }

.area {
  	width: 33%;
}

.area-func {
	width: 33%;
	margin: 0 6px 0 0;
	height: 300px;
}

.area-lfunc {
	width: 33%;
	height: 300px;
}

.height-300{
	height: 300px;
}

.rounded-10 {
  border-radius: 10px !important; }

.info {
	padding: 20px 0 0 20px;
}

.btnfunc {
	width: 120px;
	height: 35px;
	border:none;
	color:white;
	position:absolute;
	bottom:30px;
	right:50px;
	font-size:16px;
	font-weight:bold;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
